
	/* form */
	.container{
		padding-top: 40px;
		width: 500px;
		margin: auto;
		border: 2px solid #49CBCD;
		margin-top: 100px;
	}
	form h2{
		padding-bottom: 20px;
	}
	form .form-control{
		border: 1px solid #EBEBEB;
		font-size: 15px;
	}
	form .form-control:focus{
		border-color: #A88FD8;
		box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
	}
	form textarea{
		margin-bottom: 20px;
	}

	.btn-send button{
		float: right;
		background-color: #49CBCD;
		border: none;
	}
	
	/* Password */
	/* The message box is shown when the user clicks on the password field */
	.message{
		display:none;
		background: #f1f1f1;
		color: #000;
		position: relative;
		padding: 20px;
		margin-top: 10px;
	}

	.message p {
		font-size: 12px;
	}
	/* Add a green text color and a checkmark when the requirements are right */
	.valid {
		color: green;
	}

	.valid:before {
		position: relative;
		left: 0;
		content: "✔";
		padding-right: 20px;
	}

	/* Add a red text color and an "x" when the requirements are wrong */
	.invalid {
		color: red;
	}

	.invalid:before {
		position: relative;
		left: 0;
		content: "✖";
		padding-right: 20px;
	}
	.alert-username, .alert-psw{
		margin: 5px 2px;
	}
	
	.modal-title, .modal-body{
		text-align: center;
		font-size: 18px;
	}